@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary - #1F1E24 */
/* secondary - #6556CD */

::-webkit-scrollbar {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #27272a;
    background-image: none;
    flex: 1;
    padding: 0 0.5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
    display: none;
}
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    padding: 0px 10px;
    line-height: 3;
    border-radius: 50px;
    background: #27272a;
    overflow: hidden;
}
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0.5;
    right: 0;
    padding: 0 1em;
    background: #27272a;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}
.select:hover::after {
    color: #6556cd;
}

body {
    background-color: #121212; /* Set your desired background color */
}

.w-screen {
    background-color: #121212; /* Ensure the background is consistent */
}

.text-shadow-lg {
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.7);
  }
  
  .text-shadow-md {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  }
  /* Custom Scrollbar */
.scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-gray-300 {
    scrollbar-color: #d1d5db transparent;
  }
  
  .scrollbar-thin::-webkit-scrollbar {
    height: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 4px;
  }
  
  /* Line Clamping */
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
